<div class="flex-container">

<div class="containerProfileInfo">
    <section id="a-1">
      <h1 style="color:blue;"><strong>Profile information</strong></h1>
        <div class="profile-info">
            <p class="profileText">
                <strong >Name: </strong> {{currentUser.name}} <br>
                <strong >Username: </strong>{{currentUser.username}}<br>
                <strong>Age: </strong>{{currentUser.age}} <br>
                <strong>Gender: </strong>{{currentUser.gender}} <br>
                <strong>Location: </strong>{{currentUser.location}} <br>
            </p>
           
          </div>
      
    </section>
    </div>

   <div class="listCards">
    <clr-accordion>
        <clr-accordion-panel >
          <clr-accordion-title>My charities: {{allCreatedCharities.length}}</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <div class="clr-row">
                <div class="clr-col-sm-4 clr-col-md-4" *ngFor='let charity of allCreatedCharities'>
                       <div class="card" >
                           <div class="card-header">
                           {{charity.title}}
                           </div>
                           <div class="card-img">
                               <img [src]="'data:image/png;base64,' + charity.imageBase64" alt=""/>
                           </div>
                           <div class="card-block">
                               <div class="card-text1" >
                                   <p> {{charity.description}} </p>
                               </div>
                               <div class="card-text" >       
                                 {{"Amount required:"}}  {{charity.budgetRequired}}<br>
                                 {{"Amount collected:"}} {{charity.amountCollected}}
                               </div>
                           </div>
                           <div class="card-footer">
                               <a [routerLink]="['/charity/view', charity.title]" class="btn btn-sm btn-link">See more</a>
                          </div>
                       </div>
               </div>
              </div>
          </clr-accordion-content>
        </clr-accordion-panel>
      
        <clr-accordion-panel>
          <clr-accordion-title>Participated charities: {{allParticipatedCharities.length}}</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <div class="clr-row">
                <div class="clr-col-sm-4 clr-col-md-4" *ngFor='let charity of allParticipatedCharities'>
                 <div class="card" >
                     <div class="card-header">
                     {{charity.title}}
                     </div>
                     <div class="card-img">
                         <img [src]="'data:image/png;base64,' + charity.imageBase64" alt=""/>
                     </div>
                     <div class="card-block">
                         <div class="card-text1" >
                             <p> {{charity.description}} </p>
                         </div>
                         <div class="card-text" >       
                           {{"Amount required:"}}  {{charity.budgetRequired}}<br>
                           {{"Amount collected:"}} {{charity.amountCollected}}
                         </div>
                     </div>
                     <div class="card-footer">
                         <a [routerLink]="['/charity/view', charity.title]" class="btn btn-sm btn-link">See more</a>
                    </div>
                 </div>
         </div>
     </div>
        </clr-accordion-content>
        </clr-accordion-panel>
      
        <clr-accordion-panel>
          <clr-accordion-title>Donated charities: {{allDonatedCharities.length}}</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <div class="clr-row">
                <div class="clr-col-sm-4 clr-col-md-4" *ngFor='let charity of allDonatedCharities'>
                  <div class="card" >
                      <div class="card-header">
                      {{charity.title}}
                      </div>
                      <div class="card-img">
                          <img [src]="'data:image/png;base64,' + charity.imageBase64" alt=""/>
                      </div>
                      <div class="card-block">
                          <div class="card-text1" >
                              <p> {{charity.description}} </p>
                          </div>
                          <div class="card-text" >       
                            {{"Amount required:"}}  {{charity.budgetRequired}}<br>
                            {{"Amount collected:"}} {{charity.amountCollected}}
                          </div>
                      </div>
                      <div class="card-footer">
                          <a [routerLink]="['/charity/view', charity.title]" class="btn btn-sm btn-link">See more</a>
                     </div>
                  </div>
          </div>
        </div>
        </clr-accordion-content>
        </clr-accordion-panel>

        <clr-accordion-panel>
            <clr-accordion-title>Latest Activities</clr-accordion-title>
            <clr-accordion-content *clrIfExpanded>
                <div class="actions" *ngFor='let action of latestUserActions'>
                <strong>{{action.formattedActionDate}}</strong> {{action.description}}<br>
                </div>
            </clr-accordion-content>
          </clr-accordion-panel>
</clr-accordion>
</div>
</div>


      <!-- <div class="clr-row">
        <div class="clr-col-sm-4 clr-col-md-4" *ngFor='let action of latestUserActions'>
                <div class="card" >
                    <div class="card-block">
                        <div class="card-text" >       
                          {{action.formattedActionDate}} " " {{action.description}}<br>
                        </div>
                    </div>
                </div>
        </div>
    </div> -->

 <!-- <div class="container">
    <section id="a-1">
         <h3 style="color:darkblue;" class="headers"><strong>My charities:</strong></h3>
        <div class="clr-row">
         <div class="clr-col-sm-3 clr-col-md-3" *ngFor='let charity of allCreatedCharities'>
                <div class="card" >
                    <div class="card-header">
                    {{charity.title}}
                    </div>
                    <div class="card-img">
                        <img [src]="'data:image/png;base64,' + charity.imageBase64" alt=""/>
                    </div>
                    <div class="card-block">
                        <div class="card-text1" >
                            <p> {{charity.description}} </p>
                        </div>
                        <div class="card-text" >       
                          {{"Amount required:"}}  {{charity.budgetRequired}}<br>
                          {{"Amount collected:"}} {{charity.amountCollected}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="['/charity/view', charity.title]" class="btn btn-sm btn-link">See more</a>
                   </div>
                </div>
        </div>
       </div>
</section>
</div>

<div class="container">
    <section id="a-1">
         <h3 style="color:darkblue;" class="headers"><strong>Participated charities:</strong></h3>
        <div class="clr-row">
           <div class="clr-col-sm-3 clr-col-md-3" *ngFor='let charity of allParticipatedCharities'>
            <div class="card" >
                <div class="card-header">
                {{charity.title}}
                </div>
                <div class="card-img">
                    <img [src]="'data:image/png;base64,' + charity.imageBase64" alt=""/>
                </div>
                <div class="card-block">
                    <div class="card-text1" >
                        <p> {{charity.description}} </p>
                    </div>
                    <div class="card-text" >       
                      {{"Amount required:"}}  {{charity.budgetRequired}}<br>
                      {{"Amount collected:"}} {{charity.amountCollected}}
                    </div>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/charity/view', charity.title]" class="btn btn-sm btn-link">See more</a>
               </div>
            </div>
    </div>
</div>
</section>
</div>


<div class="container">
    <section id="a-1">
         <h3 style="color:darkblue;" class="headers"><strong>Donated charities:</strong></h3>
        <div class="clr-row">
          <div class="clr-col-sm-3 clr-col-md-3" *ngFor='let charity of allDonatedCharities'>
            <div class="card" >
                <div class="card-header">
                {{charity.title}}
                </div>
                <div class="card-img">
                    <img [src]="'data:image/png;base64,' + charity.imageBase64" alt=""/>
                </div>
                <div class="card-block">
                    <div class="card-text1" >
                        <p> {{charity.description}} </p>
                    </div>
                    <div class="card-text" >       
                      {{"Amount required:"}}  {{charity.budgetRequired}}<br>
                      {{"Amount collected:"}} {{charity.amountCollected}}
                    </div>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/charity/view', charity.title]" class="btn btn-sm btn-link">See more</a>
               </div>
            </div>
    </div>
  </div>
</section>
</div> -->