<div class="container">
    <div class="row">
      <a class="btn btn=primary" (click)="onBack()">Back to List</a>
    </div>
</div>
    

<div class="container1">
    <section id="a-1">
      <h1>{{charity.title}}</h1>
      <img src="../../assets/images/photo.png">
      <h3> {{"Description:"}}</h3>
      <p>
        {{charity.description}}
      </p>

      <p><strong _ngcontent-c2="">{{"Amount required:"}} </strong> {{charity.budgetRequired}} {{"/"}}
        <strong _ngcontent-c2="">{{"Amount collected:"}} </strong> {{charity.amountCollected}}<br>
        <strong _ngcontent-c2="">{{"Participants signed up: "}} </strong>{{charity.volunteersSignedUp}} 
      </p>

    </section>

</div>
