.container {
    width: 700px;
    height: 100;
    padding: 30px;
    justify-content: space-around;
}

/* .card {
    width: 600px;
    height: 400px;
    border: 1px solid black;
} */
.card-text{
    color: blue;
}

.card-header{
    font-weight: bold;
}

.flex-wrapper {
    display: flex;
    justify-content: space-around;
}