.container {
    width: 700px;
    height: 100;
    padding: 30px;
    justify-content: space-around;
}
.container1 {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
img {
    width: 500px;
    height: 500px;
}
h6 {
    color: blue;
}
.charity-info{
    display: flex;
}
.buttons{
    padding: 20px;
}