<header class="header-6">
    <div class="branding">
        <a href="javascript://" class="nav-link">
            <img _ngcontent-c1="" alt="" class="d-inline-block align-top" height="30" src="../../assets/images/icon.png" width="50" height="50">
            <span class="title">Network for Giving</span>
        </a>
    </div>
    <div class="search-container">
        <form (ngSubmit)="searchForCharity()">
            <div class="input">

          <input type="text" placeholder="Search.." [(ngModel)]="titleToSearch" name="text">

          <button type="submit" >
              <i class="fa fa-search"> 
                  <clr-icon shape="search"></clr-icon>
              </i>
          </button>

        </div>
        </form>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon-text">
            <div class="buttons">
               <button class="btn btn-primary" (click)="onLogin()">Login</button>
               <button class="btn btn-primary" (click)="onRegister()">Register</button>
            </div>
        </a>
    </div>
</header>

<div class="clr-row">
    <div class="clr-col-sm-4 clr-col-md-4" *ngFor='let charity of charities'>
            <div class="card" >
                <div class="card-header">
                {{charity.title}}
                </div>

                <div class="card-img">
                    <img [src]="'data:image/png;base64,' + charity.imageBase64" alt=""/>
                </div>
            
                <div class="card-block">
                    <div class="card-text1" >
                        <p> {{charity.description}} </p>
                           
                    </div>

                    <div class="card-text" >       
                        <p><strong _ngcontent-c2="">{{"Amount required:"}} </strong> {{charity.budgetRequired}}<br>
                         <strong _ngcontent-c2="">{{"Amount collected:"}} </strong> {{charity.amountCollected}}</p>
                    </div>
                </div>
                
                <div class="card-footer">
                    <a [routerLink]="['/charity/view', charity.title]" class="btn btn-sm btn-link">See more</a>
               </div>
            </div>
            
    </div>
</div>
