.card-block{
    height: 150px;
}

.clr-row {
    padding-right: 200px;
    padding-left: 220px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.header-6 img {
    width: 30px;
    height: 30px;
   
}

.btn-primary{
  position: relative;
  bottom: 12px;
  border: 3px solid #73AD21;
}

/* for search bar*/
.search-container {
    float: right;
  }

  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: grey;
  }
  
  .card-text{
    color: blue;
  }
  
  .card-header{
    font-weight: bold;

  }
  .card-text1 {
    color: black;
  }

  p {
    width:  250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-img{
    height: 200px;
    width: 200px;
  }