.card-block{
    height: 150px;
}

.clr-row {
    padding-right: 200px;
    padding-left: 220px;
    padding-top: 80px;
    padding-bottom: 50px;
}

  
  .card-text{
    color: blue;
    overflow: auto;
  }
  
  .card-header{
    font-weight: bold;
    overflow: auto;
  }
  .card-text1 {
    color: black;
  }

  p {
    width:  250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-img{
    height: 300px;
    width: 323px; 
    overflow: auto;
  }
  .card{
    overflow: auto;
    resize: both;
  }

  .card-text{
    bottom: 8px;
    left: 16px;
  }


  
  