<div class="alert alert-danger" role="alert" *ngIf="showAlert">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
                Already exists charity with the same title!
            </span>
        </div>
    </div>
</div>

<form class="createChariry" clrForm [formGroup]="charityForm" (ngSubmit)="submitCharity()">
    <h3><strong>Create charity form:</strong></h3>
    <br />
    <clr-input-container>
        <label>Title</label>
        <input clrInput type="text" formControlName="title" />
        <clr-control-error>Must include title</clr-control-error>
    </clr-input-container>

    <clr-textarea-container>
        <label>Description</label>
        <textarea clrTextarea type="text" formControlName="description" rows="6"></textarea>
        <clr-control-error>Must include description</clr-control-error>
    </clr-textarea-container>

    <clr-input-container>
        <label>Budget required</label>
        <input clrInput type="number" formControlName="budgetRequired" />
    </clr-input-container>

    <clr-input-container>
        <label>Volunteers required</label>
        <input clrInput type="number" formControlName="volunteersRequired" />
    </clr-input-container>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <input type="file" accept="image/*" (change)="processFile($event)" />
                </div>
            </div>
        </div>
    </div>

    <div class="createBtn">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<clr-modal [(clrModalOpen)]="charityCreateModal" [clrModalClosable]="true">
    <h3 class="modal-title">{{validMessage}}</h3>
    <div class="modal-body">
        <h5>Do you want to create new?</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn btn-primary" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-outline" (click)="ok()">YES</button>
    </div>
</clr-modal>