
<header class="header-6">
    <div class="branding">
        <a class="nav-link" href='/'>
            <clr-icon shape="world"></clr-icon>
            <span class="title">Network for giving</span>
        </a>
    </div>
    <form class="search" *ngIf="router.url == '/'" (ngSubmit)="searchForCharity()">
        <label for="search_input">
            <input id="search_input" type="text" name="text"
             [(ngModel)]="titleToSearch" placeholder="Search for charity...">
        </label>
    </form>
    <ng-container *ngIf="currentUser; else noUser">
        <div class="header-actions">
            <a href="/profile" class="nav-link nav-icon-text" >
                <clr-icon shape="assign-user"></clr-icon>
                <span class="nav-text">{{currentUser.username}}</span>
            </a>
   
            <a  (click)="logoutPopUp()" class="nav-link nav-icon-text">
                <clr-icon shape="logout"></clr-icon>
                <span class="nav-text">Log Out</span>
            </a>
        </div>
    </ng-container>
    <ng-template #noUser>
        <div class="header-actions">
            <a href="/login"  class="nav-link nav-icon-text">
                <clr-icon shape="login"></clr-icon>
                <span class="nav-text">Login</span>    
            </a>
       
            <a href="/register"  class="nav-link nav-text">
                Register
            </a>
        </div>
    </ng-template>
</header>

<clr-modal [(clrModalOpen)]="logoutModal" [clrModalClosable]="false">
    <h3 class="modal-title" >Do you want to logout?</h3>
    <div class="modal-footer">
      <button type="button" class="btn btn btn-primary" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-outline" (click)="logout()">Yes</button>
    </div>
  </clr-modal>

